<ion-content>
    <form [formGroup]="login_Form" (ngSubmit)="onSubmit(login_Form.value)" >
    <div padding> 
        <ion-row>
            <ion-col>
                <ion-list inset>
                    <ion-item>
                            <ion-label>Username</ion-label>
                            <ion-input type="text" formControlName="userName"> </ion-input>
                    </ion-item>
                    <div class="alert alert-danger" *ngIf="this.login_Form.controls.userName.hasError('required') && login_Form.controls.userName.dirty">
                    Please provide a valid UserName
                    </div>
                    <ion-item>
                            <ion-label>Password</ion-label>
                            <ion-input type="password" formControlName="Password"> </ion-input>
                        </ion-item>    
                        <div class="alert alert-danger" *ngIf="this.login_Form.controls.Password.hasError('required') && login_Form.controls.Password.dirty">
                            Please provide a valid Password
                            </div>                    
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button class="login-button" type="submit">Login</button>
            </ion-col>
            <ion-col>
                    <button ion-button class="login-button" type="button" (click)="SignUP()">SignUp</button>
                </ion-col>
        </ion-row>
        <ion-label *ngIf="showErrorMsg" >Invalid UserName or Password</ion-label>
    </div>
    </form>
</ion-content>

