<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>testing</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <ion-list   *ngFor="let u of users">
      <ion-item>
      <ion-label class="user-label">{{u.userName}} </ion-label>
    </ion-item>
    </ion-list>
    <ion-item>
        <ion-input placeholder="Add New User" [(ngModel)] = "userName"></ion-input>
    </ion-item>  
    <ion-item>
      <button ion-button (click)="AddNewUser()">Submit</button>
  </ion-item>
  <ion-item *ngIf="showMsg">
    <ion-label>{{submitMsg}} </ion-label>
  </ion-item>
  </ion-content>
  